a {
    text-decoration: underline;
}

.t {
    display: none;
}
.screen {
    display: none;
}
.sidebar-nav {
    margin-top: 9px;
}
.page-header {
    border-bottom: none;
}

.entry {
    border-bottom: 1px solid #ddd;
}
.entry .text {
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 60em;
}
.entry .text p {
    text-indent: 20px;
}
.entry .text img {
    max-width: none;
}
.entry .header {
    padding: 5px;
}
.entry .header .title {
    font-size: 24px;
}
.entry .header .date {
    padding-left: 20px;
    font-size: 12px;
}
.entry .header .link {
    padding-left: 20px;
}

.entry.selected {
    border: 1px solid #ddd;
}
.entry.selected .header {
    background: #eee;
}

.entry.unread .header {
    font-weight: bold;
}

.nav-list {
    font-size: 12px;
}
.nav-list li {
    line-height: 12px;
    padding-top: 2px;
}

.feedmenuselector.unread {
    font-weight: bold;
}

footer {
    width: 100%;
    font-size: 11px;
    text-align: center;
}

span.strike {
    text-decoration: line-through;
}

// vi: sw=4:ts=4:et
