.t {
    display: none;
}
.screen {
    display: none;
}
.sidebar-nav {
    margin-top: 9px;
}
.page-header {
    border-bottom: none;
}

.entry {
    border-bottom: 1px solid #ddd;
}
.entry .text {
    padding-top: 10px;
    padding-bottom: 20px;
}
.entry .text p {
    text-indent: 20px;
}
.entry .header {
    padding: 5px;
}
.entry .header .title {
    font-size: 24px;
}
.entry .header .date {
    padding-left: 20px;
    font-size: 12px;
}

.entry.selected {
    border: 1px solid #ddd;
}
.entry.selected .header {
    background: #eee;
}

.nav-list {
    font-size: 12px;
}
.nav-list li {
    line-height: 12px;
    padding-top: 2px;
}

// vi: sw=4:ts=4:et
